.abilities {
  padding: var(--high-offset) 0;
  color: var(--color-white);
  background-color: var(--color-main);

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: var(--high-offset);
    padding-bottom: var(--small-offset);

    &::before {
      width: 19rem;
      background-color: var(--color-white);
    }

    &::after {
      content: "what i know";
      left: 50%;
      bottom: -1.3rem;
      background-color: var(--color-main);
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.skills {
  border-radius: 1rem;
  padding: 2.5rem 3rem;
  width: 60rem;
  box-shadow: inset 0 0 7px #08fdd8;
  background-color: var(--color-main);
}

.skill {
  margin: var(--second-offset) 0;

  &__info {
    margin-bottom: 0.5rem;
  }

  &__title {
    display: inline-block;
    font: var(--pre-main-font);
    color: var(--color-white);
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.8s ease 0s;

    &.anim--active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.8s ease 0.4s;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.progress {
  position: relative;
  width: 100%;
  height: 1rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px 1px rgba(25, 25, 25, 0.05);
  background-color: #f0f0f0;
  transform: scaleX(0);
  transition: all 0.8s ease 0s;

  &.anim--active {
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.8s ease 0.3s;
  }

  &__line {
    position: absolute;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 80%;
    height: 100%;
    background-color: var(--color-surf);
    transform: scaleX(0);
    transition: all 0.8s ease 0s;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -1rem;
      border: 7px solid transparent;
      border-top-color: #000;
      border-right-width: 0;
      border-bottom-width: 0;
      width: 0;
      height: 0;
    }

    &::after {
      content: "80%";
      position: absolute;
      right: 0;
      top: -2.8rem;
      border-radius: 0.3rem;
      padding: 0.1rem 0.8rem;
      font: var(--small-font-roboto);
      color: #fff;
      background-color: #000;
    }

    &.anim--active {
      transform: scaleX(1);
      transform-origin: left;
      transition: all 0.8s ease 0.3s;
    }
  }
}

.progress.progress__html .progress__line::after {
  content: "93%";
}

.progress.progress__css .progress__line::after {
  content: "85%";
}

.progress.progress__js .progress__line::after {
  content: "85%";
}

.progress.progress__react .progress__line::after {
  content: "65%";
}

.progress.progress__html .progress__line {
  width: 93%;
}

.progress.progress__css .progress__line {
  width: 85%;
}

.progress.progress__js .progress__line {
  width: 85%;
}

.progress.progress__react .progress__line {
  width: 65%;
}
