.about {
  padding: var(--high-offset) 0;
  background-color: var(--color-bg);

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: var(--high-offset);
    padding-bottom: var(--small-offset);

    &::before {
      width: 21rem;
    }

    &::after {
      content: "who i am";
      left: 50%;
      bottom: -1.3rem;
      background-color: var(--color-bg);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    width: 400px;
    height: 400px;
    opacity: 0;
    transform: translate(-120%, 0);
    transition: all 0.8s ease 0s;

    img {
      display: block;
      border-radius: 0.6rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.anim--active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.8s ease-in-out 0.6s;
    }

    @include md-tablet {
      display: flex;
      justify-content: center;
      margin: 0 auto var(--main-offset);
    }

    @include mobile {
      width: 300px;
      height: 300px;
    }
  }
}

.info {
  margin-left: var(--small-offset);
  max-width: 54%;

  &__text {
    margin: 0;
    font: var(--pre-main-font);
    font-weight: 400;
    color: var(--color-grey);
    opacity: 0;
    transform: translate(120%, 20%);
    transition: all 0.7s ease 0s;

    &:not(:last-child) {
      margin-bottom: var(--small-md-offset);
    }

    @include mobile {
      font: var(--middle-font);
      text-align: center;
    }
  }

  &__btn {
    display: inline-block;
    overflow: hidden;
    margin-top: var(--second-offset);
    border: 2px solid var(--color-surf);
    opacity: 0;
    transform: translate(120%, 20%);
    transition: all 0.7s ease 0s;

    &.anim--active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.6s ease-in-out 0.6s;
    }
  }

  @include md-tablet {
    width: 100%;
    max-width: 100%;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
}

.info__text-wrap.anim--active .info__text {
  opacity: 1;
  transform: translate(0, 0);
}

.info__text-wrap.anim--active .info__text:nth-child(1) {
  transition: all 0.7s ease-in-out 0s;
}

.info__text-wrap.anim--active .info__text:nth-child(2) {
  transition: all 0.7s ease-in-out 0.2s;
}

.info__text-wrap.anim--active .info__text:nth-child(3) {
  transition: all 0.7s ease-in-out 0.4s;
}
