.circle__skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.circle__progress {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  font: var(--roboto-high);
  text-align: center;
  color: var(--color-white);
  background: var(--color-main);

  &-wrap {
    margin-bottom: var(--small-md-offset);
  }
}

.circle__name {
  margin: 0;
  margin-bottom: var(--small-offset);
  max-width: 20rem;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
}

.circle__progress .circle__title {
  position: relative;
  z-index: 100;
}

.circle__progress .circle__overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  background-color: var(--color-main);
}

.circle__progress .circle__left,
.circle__progress .circle__right {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border: 0.8rem solid var(--color-surf);
  border-right: none;
  border-radius: 10rem 0 0 10rem;
  width: 50%;
  height: 100%;
  transform-origin: right;
}

.circle__progress.anim--active .circle__left {
  animation: load1 1s linear forwards;
}

.circle__progress:nth-of-type(2).anim--active .circle__right,
.circle__progress:nth-of-type(3).anim--active .circle__right {
  animation: load2 0.5s linear forwards 1s;
}

.circle__progress:last-of-type.anim--active .circle__right,
.circle__progress:first-of-type.anim--active .circle__right {
  animation: load3 0.8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(270deg);
  }
}

@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(315deg);
  }
}
