.contact {
  padding: 15rem 0;
  color: var(--color-white);
  background-color: var(--color-main);

  &__socials {
    margin-top: var(--main-offset);
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: var(--high-offset);
    padding-bottom: var(--small-offset);

    &::before {
      width: 25.5rem;
      background-color: var(--color-white);
    }

    &::after {
      content: "say hello";
      left: 50%;
      bottom: -1.3rem;
      background-color: var(--color-main);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include md-tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__left {
    margin-right: var(--main-offset);
    width: calc(48% - var(--main-offset));

    @include md-tablet {
      margin-right: 0;
      width: 100%;
      max-width: 450px;
    }
  }

  &__span {
    display: block;
    margin-bottom: var(--second-offset);
    font: var(--main-font);
    color: var(--color-surf);
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 0.8s ease 0s;

    &.anim--active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.8s ease-in-out 0.4s;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: var(--small-md-offset);
    font: var(--middle-font);
    text-align: justify;
    opacity: 0;
    transform: translate(-120%, 0);
    transition: all 0.8s ease 0s;

    &.anim--active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.8s ease-in-out 0.5s;
    }
  }

  &-icons__img {
    width: 40px;
    height: 40px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    @include mobile {
      align-items: flex-start;
    }
  }
}

.contact-icons {
  margin-bottom: var(--second-offset);

  &__row {
    display: flex;
    align-items: center;
    height: 45px;
    opacity: 0;
    transform: translate(-120%, 20%);
    transition: all 0.7s ease 0s;

    &:not(:last-child) {
      margin-bottom: var(--second-offset);
    }
  }
}

.info {
  margin-left: var(--small-md-offset);

  &__head {
    font: var(--pre-main-font);
    color: var(--color-bg);
  }

  &__subtitle {
    font: var(--roboto-main);
    font-size: 16px;

    &-link {
      color: inherit;
    }
  }
}

.contact-icons.anim--active .contact-icons__row {
  opacity: 1;
  transform: translate(0, 0);
}

.contact-icons.anim--active .contact-icons__row:nth-child(1) {
  transition: all 0.7s ease-in-out 0.7s;
}

.contact-icons.anim--active .contact-icons__row:nth-child(2) {
  transition: all 0.7s ease-in-out 0.9s;
}

.contact-icons.anim--active .contact-icons__row:nth-child(3) {
  transition: all 0.7s ease-in-out 1.1s;
}

.contact-icons.anim--active .contact-icons__row:nth-child(4) {
  transition: all 0.7s ease-in-out 1.3s;
}
