.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--high-offset) 0;
  width: 100vw;
  height: 100vh;
  color: var(--color-white);
  background: var(--color-main);

  &__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin: 0;
    margin-bottom: var(--main-offset);
    font: var(--middle-high);
    user-select: none;

    @include small-tablet {
      pointer-events: none;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--main-font);
    user-select: none;

    @include small-tablet {
      pointer-events: none;
    }
  }
}

.fancy span {
  display: inline-block;
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.2s ease-in-out;
}

.fancy > .fancy--active {
  opacity: 1;
  transform: translateY(0);
}
