.scroll-up {
  position: fixed;
  right: var(--main-offset);
  bottom: var(--small-md-offset);
  z-index: 30000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-surf);
  border-radius: 0.7rem;
  width: 40px;
  height: 40px;
  background-color: transparent;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  pointer-events: none;

  svg {
    width: 50%;
    height: 50%;
    fill: var(--color-surf);
    object-fit: cover;
    transform: rotate(180deg) translateY(-20%);
  }

  &__show {
    bottom: var(--main-offset);
    opacity: 1;
    pointer-events: auto;
  }

  &:hover {
    box-shadow: 0 0 10px var(--color-surf);
  }
}
