.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    opacity: 0;
    transform: translate(0, 120%);
    transition: all 0.8s ease 0s;

    &:not(:last-child) {
      margin-right: var(--second-offset);
    }
  }

  &__link {
    display: block;
    width: 45px;
    height: 45px;

    svg {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color-pink);
      object-fit: cover;
      transition: all 0.3s ease-in-out;

      &:hover {
        fill: var(--color-surf);
      }

      &:active {
        top: 3px;
      }
    }
  }
}

.socials.anim--active .socials__item {
  opacity: 1;
  transform: translate(0, 0);
}

.socials.anim--active .socials__item:nth-child(1) {
  transition: all 0.7s ease-in-out 0.5s;
}

.socials.anim--active .socials__item:nth-child(2) {
  transition: all 0.7s ease-in-out 0.7s;
}

.socials.anim--active .socials__item:nth-child(3) {
  transition: all 0.7s ease-in-out 0.9s;
}
