<section class="abilities" id="abilities">
  <div class="container abilities__container">
    <h2
      class="
        title
        anim-item anim--no-effect
        abilities__title abilities__title--lang
      "
    >
      my skills
    </h2>
    <div class="abilities__wrap">
      <div class="abilities__hard">
        <h3 class="abilities__group-title">Hard Skills</h3>
        <div class="skills">
          <div class="skill">
            <div class="skill__info">
              <span class="skill__title anim-item">HTML</span>
            </div>
            <div class="progress progress__html anim-item">
              <span class="progress__line anim-item"></span>
            </div>
          </div>
          <!-- /.skill -->
          <div class="skill">
            <div class="skill__info">
              <span class="skill__title anim-item">CSS</span>
            </div>
            <div class="progress progress__css anim-item">
              <span class="progress__line anim-item"></span>
            </div>
          </div>
          <!-- /.skill -->
          <div class="skill">
            <div class="skill__info">
              <span class="skill__title anim-item">JavaScript</span>
            </div>
            <div class="progress progress__js anim-item">
              <span class="progress__line anim-item"></span>
            </div>
          </div>
          <!-- /.skill -->
          <div class="skill">
            <div class="skill__info">
              <span class="skill__title anim-item">React</span>
            </div>
            <div class="progress progress__react anim-item">
              <span class="progress__line anim-item"></span>
            </div>
          </div>
          <!-- /.skill -->
          <div class="skill">
            <div class="skill__info">
              <span class="skill__title anim-item">SASS/SCSS</span>
            </div>
            <div class="progress progress__html anim-item">
              <span class="progress__line anim-item"></span>
            </div>
          </div>
          <!-- /.skill -->
          <div class="skill">
            <div class="skill__info">
              <span class="skill__title anim-item"> Bootstrap</span>
            </div>
            <div class="progress progress__html anim-item">
              <span class="progress__line anim-item"></span>
            </div>
          </div>
          <!-- /.skill -->
          <div class="skill">
            <div class="skill__info">
              <span class="skill__title anim-item">GIT</span>
            </div>
            <div class="progress progress__react anim-item">
              <span class="progress__line anim-item"></span>
            </div>
          </div>
          <!-- /.skill -->
        </div>
        <!-- /.skills -->
      </div>
      <!-- /.abilities__hard -->
      <div class="abilities__soft">
        <h3 class="abilities__group-title">Soft Skills</h3>
        <div class="circle__skills">
          <div class="circle__progress anim-item">
            <span
              class="circle__title circle__timer"
              data-from="0"
              data-to="85"
              data-speed="1800"
              >85</span
            >
            <div class="circle__overlay"></div>
            <div class="circle__left"></div>
            <div class="circle__right"></div>
          </div>

          <div class="circle__progress anim-item">
            <span
              class="circle__title circle__timer"
              data-from="0"
              data-to="85"
              data-speed="1800"
              >85</span
            >
            <div class="circle__overlay"></div>
            <div class="circle__left"></div>
            <div class="circle__right"></div>
          </div>

          <div class="circle__progress anim-item">
            <span
              class="circle__title circle__timer"
              data-from="0"
              data-to="85"
              data-speed="1800"
              >85</span
            >
            <div class="circle__overlay anim-item"></div>
            <div class="circle__left"></div>
            <div class="circle__right"></div>
          </div>

          <div class="circle__progress anim-item">
            <span
              class="circle__title circle__timer"
              data-from="0"
              data-to="85"
              data-speed="1800"
              >85</span
            >
            <div class="circle__overlay"></div>
            <div class="circle__left"></div>
            <div class="circle__right"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.abilities__wrap -->
  </div>
</section>
<!-- /.abilities -->
