<section class="abilities" id="abilities">
  <div class="container abilities__container">
    <h2 class="title abilities__title">abilities</h2>
    <div class="abilities__wrap">
      <div class="skills">
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title">HTML</span>
          </div>
          <div class="progress progress__html">
            <span class="progress__line"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title">CSS</span>
          </div>
          <div class="progress progress__css">
            <span class="progress__line"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title">JavaScript</span>
          </div>
          <div class="progress progress__js">
            <span class="progress__line"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title">React</span>
          </div>
          <div class="progress progress__react">
            <span class="progress__line"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title">SASS/SCSS</span>
          </div>
          <div class="progress progress__html">
            <span class="progress__line"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title"> Bootstrap</span>
          </div>
          <div class="progress progress__html">
            <span class="progress__line"></span>
          </div>
        </div>
        <!-- /.skill -->
      </div>
      <!-- /.skills -->
    </div>
    <!-- /.abilities__wrap -->
  </div>
</section>
<!-- /.abilities -->
