<section class="abilities" id="abilities">
  <div class="container abilities__container">
    <h2 class="title anim-item anim--no-effect abilities__title">my skills</h2>
    <div class="abilities__wrap">
      <div class="skills">
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title anim-item">HTML</span>
          </div>
          <div class="progress progress__html anim-item">
            <span class="progress__line anim-item"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title anim-item">CSS</span>
          </div>
          <div class="progress progress__css anim-item">
            <span class="progress__line anim-item"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title anim-item">JavaScript</span>
          </div>
          <div class="progress progress__js anim-item">
            <span class="progress__line anim-item"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title anim-item">React</span>
          </div>
          <div class="progress progress__react anim-item">
            <span class="progress__line anim-item"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title anim-item">SASS/SCSS</span>
          </div>
          <div class="progress progress__html anim-item">
            <span class="progress__line anim-item"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title anim-item"> Bootstrap</span>
          </div>
          <div class="progress progress__html anim-item">
            <span class="progress__line anim-item"></span>
          </div>
        </div>
        <!-- /.skill -->
        <div class="skill">
          <div class="skill__info">
            <span class="skill__title anim-item">GIT</span>
          </div>
          <div class="progress progress__react anim-item">
            <span class="progress__line anim-item"></span>
          </div>
        </div>
        <!-- /.skill -->
      </div>
      <!-- /.skills -->
    </div>
    <!-- /.abilities__wrap -->
  </div>
</section>
<!-- /.abilities -->
