<section class="about">
  <div class="container about__container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iure, aliquam
    sint incidunt optio aspernatur, voluptate minus iste deserunt tenetur
    sapiente quibusdam. Adipisci eaque molestiae, necessitatibus illo cumque
    dolores consequatur quasi ut aliquam. Nulla, perspiciatis ab, cum reiciendis
    eos nostrum neque nisi libero, provident sapiente id. Voluptate ab
    perspiciatis quasi ullam delectus voluptatum fuga animi, suscipit placeat
    nulla maxime, nam sequi corporis cumque nemo facilis reprehenderit et, unde
    odio similique doloribus dolorum quibusdam? Deleniti ab nemo doloremque
    explicabo reprehenderit dolores aliquid ullam id doloribus autem quas qui
    eos, esse ducimus rem a nulla recusandae animi repellat ea aut facere.
    Architecto, soluta. Perspiciatis fugiat delectus accusantium possimus,
    sapiente atque consectetur iste corporis tempore quia odio ad officiis rem
    corrupti laborum. Atque similique debitis perferendis odio libero nulla
    consequatur! Explicabo nostrum quo fugit, pariatur repudiandae cum id, quasi
    aliquid culpa ab corrupti officia minima quia amet nam saepe maxime
    perspiciatis voluptatibus sed molestias eius? Sequi cum, dolorem tempora
    libero accusamus ullam eius quis quaerat, veritatis aperiam maiores ducimus.
    Eveniet, eum magni laudantium, quas animi autem assumenda reprehenderit odit
    officiis odio eligendi magnam. Iusto itaque nemo, praesentium at deleniti
    doloremque ut error molestias possimus asperiores, nam, perspiciatis numquam
    eaque! Et exercitationem commodi magni velit, fuga amet eos molestiae
    praesentium est aspernatur quas dolore iste rerum beatae nam inventore enim
    eum expedita saepe. Odit dolore sapiente deserunt aliquid voluptates esse,
    magni laboriosam inventore ad illum ea dignissimos eum excepturi expedita
    harum? Ad repellat, dicta maiores ut, odit natus quis dolore possimus, autem
    consequuntur commodi incidunt nam! Magnam quos dicta qui. Repellendus, rerum
    blanditiis. Similique esse vel natus alias expedita dicta, porro blanditiis
    illo voluptas sapiente tempore accusantium aliquid ipsa quae vero beatae
    neque unde eveniet tempora voluptatem animi tenetur omnis officia. Sunt aut
    perferendis consequuntur totam quae placeat enim officiis nesciunt. Quos,
    ipsum cumque.
  </div>
</section>
