<section class="about" id="about">
  <div class="container about__container">
    <h2 class="title anim-item anim--no-effect about__title about__title--lang">
      About me
    </h2>
    <div class="about__content">
      <div class="about__left anim-item anim--no-effect">
        <img src="../img/avatar.jpg" alt="My photo" class="" />
      </div>
      <div class="info about__info">
        <div class="info__text-wrap anim-item anim--no-effect">
          <p class="info__text info__text1--lang">
            Once tempting world of&nbsp;websites made me&nbsp;curious about Web
            Development. With time, my&nbsp;interest in&nbsp;programming has
            grown into a&nbsp;passion of&nbsp;my&nbsp;life. Step by&nbsp;step,
            research after research I&rsquo;ve immersed myself into coding.
          </p>
          <p class="info__text info__text2--lang">
            Now, I&rsquo;m devoted to&nbsp;build eye-catching and user-friendly
            websites &amp;&nbsp;apps. Among the technologies that I&rsquo;ve
            worked with are HTML&nbsp;&amp; CSS, JavaScript (ES6+) and React.
          </p>
          <p class="info__text info__text3--lang">
            I&rsquo;m really into the entire front-end spectrum,
            so&nbsp;I&nbsp;do my&nbsp;best to&nbsp;be&nbsp;involved in&nbsp;the
            international high/medium-scale challenging projects
            by&nbsp;learning English, actively developing my&nbsp;social-media,
            acquiring programming languages that are spread all other the world.
          </p>
        </div>
        <a
          href="../../app/assets/portfolio.pdf"
          download="portfolio"
          class="
            btn btn-reset btn--primary
            info__btn info__btn--lang
            anim-item anim--no-effect
          "
          >Download CV</a
        >
      </div>
    </div>
    <!-- /.about__content -->
  </div>
</section>
