<section class="about">
  <div class="container about__container">
    <h2 class="title about__title">About me</h2>
    <div class="about__content">
      <div class="about__left">
        <img src="../img/avatar.jpg" alt="My photo" class="" />
      </div>
      <div class="info">
        <div class="info__text-wrap">
          <p class="info__text">
            My&nbsp;love of&nbsp;beautiful websites and curiosity made
            me&nbsp;discover and explore Web development which naturally, led
            to&nbsp;my&nbsp;great interest in front-end web development.
          </p>
          <p class="info__text">
            Now, I&rsquo;m devoted to&nbsp;building quality and beautiful
            websites &amp;&nbsp;apps. Some of&nbsp;the technologies I&rsquo;ve
            worked with are HTML&nbsp;&amp; CSS, JavaScript (ES6+) and React.
          </p>
          <p class="info__text">
            Interested in&nbsp;the entire frontend spectrum and working
            on&nbsp;ambitious projects with positive people.
          </p>
        </div>
        <a href="#" class="btn btn-reset btn--primary info__btn">Download CV</a>
      </div>
    </div>
    <!-- /.about__content -->
  </div>
</section>
