<section class="contact" id="contact">
  <div class="container contact__container">
    <h2
      class="
        title
        anim-item anim--no-effect
        contact__title contact__title--lang
      "
    >
      contact me
    </h2>
    <div class="contact__content">
      <div class="contact__left anim-item anim--no-effect">
        <span class="contact__span contact__get--lang anim-item anim--no-effect"
          >Get In Touch</span
        >
        <p class="contact__text contact__text--lang anim-item anim--no-effect">
          If&nbsp;you&rsquo;d like to&nbsp;send me&nbsp;a&nbsp;message,
          I&nbsp;can be&nbsp;reached through various ways! If&nbsp;you prefer
          email, simply fill out the form or&nbsp;send me&nbsp;a&nbsp;message
          and I&rsquo;ll get back to&nbsp;you as&nbsp;soon as&nbsp;possible.
        </p>
        <div class="contact-icons anim-item anim--no-effect">
          <div class="contact-icons__row">
            <div class="contact-icons__img">
              <img src="../img/contact-user.svg" alt="My Personal Info" />
            </div>
            <div class="info contact__info">
              <div class="info__head info__name--lang">Name:</div>
              <div class="info__subtitle info__fullname--lang">
                Konstantin Bogorodskii
              </div>
            </div>
          </div>
          <!-- /. contact-icons__row -->
          <div class="contact-icons__row">
            <div class="contact-icons__img">
              <img src="../img/contact-map.svg" alt="My Location" />
            </div>
            <div class="info contact__info">
              <div class="info__head info__address--lang">Address:</div>
              <div class="info__subtitle info__fulladdress--lang">
                Russia, Moscow
              </div>
            </div>
          </div>
          <!-- /. contact-icons__row -->
          <div class="contact-icons__row">
            <div class="contact-icons__img">
              <img src="../img/contact-envelope.svg" alt="My Email Address" />
            </div>
            <div class="info contact__info">
              <div class="info__head info__email--lang">Email:</div>
              <div class="info__subtitle">
                <a
                  class="info__subtitle-link"
                  href="mailto:konstantin.bogorodsky@gmail.com"
                  >konstantin.bogorodsky@gmail.com</a
                >
              </div>
            </div>
          </div>
          <!-- /. contact-icons__row -->
          <div class="contact-icons__row">
            <div class="contact-icons__img">
              <img src="../img/contact-phone.svg" alt=" My Phone-number" />
            </div>
            <div class="info contact__info">
              <div class="info__head info__phone--lang">Phone:</div>
              <div class="info__subtitle">
                <a class="info__subtitle-link" href="tel:+79152134455"
                  >+7(915)-213-44-55</a
                >
              </div>
            </div>
          </div>
          <!-- /. contact-icons__row -->
        </div>
        <!-- /.contact-icons -->
      </div>
      <!-- /.contact__left -->
      <div class="contact__right">
        <span
          class="contact__span contact__message--lang anim-item anim--no-effect"
          >Message me</span
        >
        <form
          class="form contact__form anim-item anim--no-effect"
          id="form"
          action="#"
          method="POST"
        >
          <div class="form__item">
            <input
              type="text"
              class="form__input form__input-name form__input--req type-field"
              placeholder="Your Full Name ∗"
              name="name"
              id="name"
              autocomplete="off"
            />
          </div>
          <div class="form__item">
            <input
              type="tel"
              class="form__input form__input-tel form__input--req type-field"
              placeholder="Phone Number ∗"
              name="phone"
              id="phone-input"
              autocomplete="off"
            />
          </div>
          <div class="form__item">
            <input
              type="text"
              class="form__input form__input-email form__input--req type-field"
              placeholder="Email Adress ∗"
              name="email"
              id="email-input"
              autocomplete="off"
            />
          </div>
          <textarea
            class="form__textarea type-field"
            placeholder="Message..."
            name="message"
            autocomplete="off"
          ></textarea>
          <button
            class="
              btn btn-reset btn--secondary
              form__btn
              anim-item anim--no-effect
              form__btn--lang
            "
            type="submit"
          >
            Send
          </button>
        </form>
        <!-- /.form -->
      </div>
      <!-- /.contact__right -->
    </div>
    <div class="socials contact__socials anim-item anim--no-effect">
      <div class="socials__item">
        <a
          href="https://github.com/kbogorodsky"
          class="socials__link"
          target="_blank"
          ><svg>
            <use xlink:href="img/sprite.svg#github"></use>
          </svg>
        </a>
      </div>
      <!-- /.socials__item -->
      <div class="socials__item">
        <a
          href="https://linkedin.com/in/konstantin-bogorodskii-779310221"
          class="socials__link"
          target="_blank"
          ><svg>
            <use xlink:href="img/sprite.svg#linkedin"></use>
          </svg>
        </a>
      </div>
      <!-- /.socials__item -->
      <div class="socials__item">
        <a
          href="https://vk.com/id94728434"
          class="socials__link"
          target="_blank"
          ><svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
      <!-- /.socials__item -->

      <div class="socials__item">
        <a href="https://t.me/kbogorodsky" class="socials__link" target="_blank"
          ><svg>
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </div>
      <!-- /.socials__item -->
    </div>
  </div>
</section>
<!-- /.contact -->
