<section class="contact" id="contact">
  <div class="container contact__container">
    <h2 class="title anim-item contact__title">contact me</h2>
    <div class="contact__content">
      <div class="contact__left anim-item">
        <span class="contact__span anim-item">Get In Touch</span>
        <p class="contact__text anim-item">
          If&nbsp;you&rsquo;d like to&nbsp;send me&nbsp;a&nbsp;message,
          I&nbsp;can be&nbsp;reached through various ways! If&nbsp;you prefer
          email, simply fill out the form or&nbsp;send me&nbsp;a message and
          I&rsquo;ll get back within 1-2&nbsp;days.
        </p>
        <div class="contact-icons anim-item">
          <div class="contact-icons__row">
            <div class="contact-icons__img">
              <img src="../img/contact-user.svg" alt="My Personal Info" />
            </div>
            <div class="info contact__info">
              <div class="info__head">Name:</div>
              <div class="info__subtitle">Konstantin Bogorodsky</div>
            </div>
          </div>
          <!-- /. contact-icons__row -->
          <div class="contact-icons__row">
            <div class="contact-icons__img">
              <img src="../img/contact-map.svg" alt="My Location" />
            </div>
            <div class="info contact__info">
              <div class="info__head">Address:</div>
              <div class="info__subtitle">Russia, Moscow</div>
            </div>
          </div>
          <!-- /. contact-icons__row -->
          <div class="contact-icons__row">
            <div class="contact-icons__img">
              <img src="../img/contact-envelope.svg" alt="My Email Address" />
            </div>
            <div class="info contact__info">
              <div class="info__head">Email:</div>
              <div class="info__subtitle">
                <a
                  class="info__subtitle-link"
                  href="mailto:bogorodsky.konstantin@gmail.com"
                  >bogorodsky.konstantin@gmail.com</a
                >
              </div>
            </div>
          </div>
          <!-- /. contact-icons__row -->
          <div class="contact-icons__row">
            <div class="contact-icons__img">
              <img src="../img/contact-phone.svg" alt=" My Phone-number" />
            </div>
            <div class="info contact__info">
              <div class="info__head">Phone:</div>
              <div class="info__subtitle">
                <a class="info__subtitle-link" href="tel:+79152134455"
                  >+7(915)-213-44-55</a
                >
              </div>
            </div>
          </div>
          <!-- /. contact-icons__row -->
        </div>
        <!-- /.contact-icons -->
      </div>
      <!-- /.contact__left -->
      <div class="contact__right">
        <span class="contact__span anim-item">Message me</span>
        <form
          class="form contact__form anim-item"
          id="form"
          action="#"
          method="POST"
        >
          <div class="form__item">
            <input
              type="text"
              class="form__input form__input-name form__input--req"
              placeholder="Your Full Name ∗"
              name="name"
              id="name"
              data-validate-field="name"
            />
          </div>
          <div class="form__item">
            <input
              type="tel"
              class="form__input form__input-tel form__input--req"
              placeholder="Phone Number ∗"
              name="phone"
              id="phone-input"
              data-validate-field="tel"
            />
          </div>
          <div class="form__item">
            <input
              type="text"
              class="form__input form__input-email form__input--req"
              placeholder="Email Adress ∗"
              name="email"
              data-validate-field="email"
            />
          </div>
          <textarea
            class="form__textarea"
            placeholder="Message..."
            name="message"
          ></textarea>
          <button
            class="btn btn-reset btn--secondary form__btn anim-item"
            type="submit"
          >
            Send
          </button>
        </form>
        <!-- /.form -->
      </div>
      <!-- /.contact__right -->
    </div>
    <div class="socials contact__socials anim-item">
      <div class="socials__item">
        <a href="#" class="socials__link" target="_blank"
          ><svg>
            <use xlink:href="img/sprite.svg#github"></use>
          </svg>
        </a>
      </div>
      <!-- /.socials__item -->
      <div class="socials__item">
        <a href="#" class="socials__link" target="_blank"
          ><svg>
            <use xlink:href="img/sprite.svg#linkedin"></use>
          </svg>
        </a>
      </div>
      <!-- /.socials__item -->
      <div class="socials__item">
        <a href="#" class="socials__link" target="_blank"
          ><svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
      <!-- /.socials__item -->
    </div>
  </div>
</section>
<!-- /.contact -->
