<footer class="footer">
  <div class="container">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex in consectetur
    repudiandae atque vel eum nemo velit praesentium laboriosam! Molestias
    beatae quam autem blanditiis dolores dolor ipsam consequatur explicabo vel
    odio, ad quas suscipit quidem nobis rerum maiores perspiciatis dolore
    facilis quis aspernatur deserunt eaque. A nobis est porro. Necessitatibus
    culpa nam magni odit minus magnam? Accusamus, beatae. Totam amet quisquam
    laudantium ea harum voluptatibus dignissimos enim reiciendis, repellendus
    repellat dolor ullam ipsa? Eligendi est possimus aspernatur consectetur
    sapiente natus, molestias doloribus dolores odio, dicta odit culpa
    voluptatum, itaque quaerat aperiam quasi tenetur voluptatibus suscipit porro
    veniam magnam adipisci repellendus?
  </div>
</footer>
