<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">ABOUT</a></li>
        <li class="nav__item"><a href="#" class="nav__link">PORTFOLIO</a></li>
        <li class="nav__item"><a href="#" class="nav__link">BLOG</a></li>
        <li class="nav__item"><a href="#" class="nav__link">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
