<section class="hero" id="particles-js">
  <div class="container hero__container">
    <h1 class="hero__title anim-item fancy hero__title--lang">
      Hello, I&rsquo;m Konstantin Bogorodsky.
    </h1>
    <p class="hero__text anim-item fancy hero__text--lang">
      I&rsquo;m a&nbsp;Front-End Developer.
    </p>
    <a
      href="#projects"
      class="
        btn-reset btn btn--primary
        js-move-to
        hero__btn
        anim-item
        hero__btn--lang
      "
    >
      View My Projects
    </a>
  </div>
  <!-- /.container -->
</section>
<!-- /.hero -->
