<section class="projects" id="projects">
  <div class="container projects__container">
    <h2
      class="
        title
        anim-item anim--no-effect
        projects__title projects__title--lang
      "
    >
      projects
    </h2>
    <div class="filter" id="filter-button">
      <ul class="filter__list list-reset">
        <li class="filter__item">
          <span class="filter__link filter__current" data-filter="all"
            >All Projects</span
          >
        </li>
        <li class="filter__item">
          <span class="filter__link" data-filter="layout"
            >HTML / CSS Projects</span
          >
        </li>
        <li class="filter__item">
          <span class="filter__link" data-filter="javascript"
            >JavaScript Projects</span
          >
        </li>
        <li class="filter__item">
          <span class="filter__link" data-filter="react">React projects</span>
        </li>
      </ul>
    </div>
    <!-- /.projects__nav -->
    <div class="gallery" id="project-gallery">
      <div class="gallery__grid anim-item anim--no-effect">
        <div class="gallery__item layout">
          <div class="gallery__image">
            <img src="../img/besttour.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/Find-Your-Job.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="#"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Made a simple and responsive landing page
          </span>
        </div>
        <!-- /.gallery__item -->

        <div class="gallery__item layout">
          <div class="gallery__image">
            <img src="../img/deliveryfood.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/Find-Your-Job.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/delivery-food/menu.html#"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Made a simple and responsive landing page
          </span>
        </div>
        <!-- /.gallery__item -->

        <div class="gallery__item javascript">
          <div class="gallery__image">
            <img src="../img/iphonecalc.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/Calculator-js.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/Calculator-js/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <!-- /.gallery__item -->

        <div class="gallery__item javascript">
          <div class="gallery__image">
            <img src="../img/aimtraining.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/Aim-game.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/Aim-game/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <!-- /.gallery__item -->

        <!-- /.gallery__item -->
        <div class="gallery__item layout">
          <div class="gallery__image">
            <img src="../img/expoforum.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/Expoforum.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/Expoforum/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <!-- /.gallery__item -->

        <div class="gallery__item react">
          <div class="gallery__image">
            <img src="../img/hotburger.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/react-burger-shop.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="http://a0577481.xsph.ru/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Made a simple and responsive landing page
          </span>
        </div>
        <!-- /.gallery__item -->

        <div class="gallery__item layout">
          <div class="gallery__image">
            <img src="../img/findyourjob.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/find-your-job.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/find-your-job/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <!-- /.gallery__item -->
        <div class="gallery__item javascript">
          <div class="gallery__image">
            <img src="../img/tictactoe1.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/tic-tac-toe-pure-js.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/tic-tac-toe-pure-js/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <!-- /.gallery__item -->
        <div class="gallery__item react">
          <div class="gallery__image">
            <img src="../img/mypostsapp.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/my-posts-application.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/my-posts-application/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Made a simple and responsive landing page
          </span>
        </div>
        <!-- /.gallery__item -->

        <div class="gallery__item layout">
          <div class="gallery__image">
            <img src="../img/travel.org.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/travel-org-practice.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/travel-org-practice/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <div class="gallery__item javascript">
          <div class="gallery__image">
            <img src="../img/nfjs.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/js-racing-game.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/js-racing-game/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <!-- /.gallery__item -->
        <div class="gallery__item react">
          <div class="gallery__image">
            <img src="#" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/Find-Your-Job.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/delivery-food/menu.html#"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Made a simple and responsive landing page
          </span>
        </div>
        <!-- /.gallery__item -->
        <!-- /.gallery__item -->
        <div class="gallery__item javascript">
          <div class="gallery__image">
            <img src="../img/todolist.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <a
                href="https://github.com/kbogorodsky/to-do-list-javascript.git"
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </a>
              <a
                href="https://kbogorodsky.github.io/to-do-list-javascript/"
                class="btn-reset gallery__btn gallery__btn-view"
                aria-label="Show project"
                target="blank"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </a>
            </div>
          </div>

          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <!-- /.gallery__item -->
      </div>
      <!-- /.gallery__grid -->
    </div>
    <!-- /.gallery -->
  </div>
</section>
<!-- /.projects -->
