<section class="projects" id="projects">
  <div class="container projects__container">
    <h2 class="title projects__title">projects</h2>
    <div class="filter" id="filter-button">
      <ul class="filter__list list-reset">
        <li class="filter__item filter__current" data-filter="all">
          <span class="filter__link">All Projects</span>
        </li>
        <li class="filter__item" data-filter="layout">
          <span class="filter__link">HTML / CSS projects</span>
        </li>
        <li class="filter__item" data-filter="javascript">
          <span class="filter__link">JavaScript projects</span>
        </li>
        <li class="filter__item" data-filter="react">
          <span class="filter__link">React projects</span>
        </li>
      </ul>
    </div>
    <!-- /.projects__nav -->
    <div class="gallery" id="project-gallery">
      <div class="gallery__grid">
        <div class="gallery__item">
          <div class="gallery__image">
            <img src="../img/avatar.jpg" alt="" class="gallery__img" />
            <div class="gallery__btns">
              <button
                class="btn-reset gallery__btn"
                aria-label="Show code on Github"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#github"></use>
                </svg>
              </button>
              <button class="btn-reset gallery__btn" aria-label="Show project">
                <svg>
                  <use xlink:href="img/sprite.svg#view"></use>
                </svg>
              </button>
            </div>
          </div>
          <h3 class="gallery__title">
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </h3>
          <span class="gallery__span"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            aspernatur?</span
          >
        </div>
        <!-- /.gallery__item -->
        <div class="gallery__item">
          <div class="gallery__image">
            <img src="../img/avatar.jpg" alt="" class="gallery__img" />
          </div>
        </div>
        <!-- /.gallery__item -->
        <div class="gallery__item">
          <div class="gallery__image">
            <img src="../img/avatar.jpg" alt="" class="gallery__img" />
          </div>
        </div>
        <!-- /.gallery__item -->
        <div class="gallery__item">
          <div class="gallery__image">
            <img src="../img/avatar.jpg" alt="" class="gallery__img" />
          </div>
        </div>
        <!-- /.gallery__item -->
        <div class="gallery__item">
          <div class="gallery__image">
            <img src="../img/avatar.jpg" alt="" class="gallery__img" />
          </div>
        </div>
        <!-- /.gallery__item -->
        <div class="gallery__item">
          <div class="gallery__image">
            <img src="../img/avatar.jpg" alt="" class="gallery__img" />
          </div>
        </div>
        <!-- /.grid__item -->
      </div>
      <!-- /.gallery__grid -->
    </div>
    <!-- /.gallery -->
  </div>
</section>
<!-- /.projects -->
