<section class="projects" id="projects">
  <div class="container projects__container">
    <h2 class="title projects__title">projects</h2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod at sapiente
    rerum, obcaecati reprehenderit, autem assumenda, velit ipsam quidem id nisi
    cumque ullam voluptates minus impedit ducimus molestiae optio
    accusantium!Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Ipsa adipisci dignissimos pariatur amet commodi odio assumenda iste,
    molestiae voluptatibus eaque sequi, accusamus a aliquam exercitationem vitae
    tempora incidunt. At, voluptates!
  </div>
</section>
<!-- /.projects -->
