html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family), sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font: var(--middle-high);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-surf);
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 0.3rem;
    background-color: var(--color-grey);
    transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    left: 50%;
    bottom: -1.3rem;
    padding: 0.2rem;
    font: var(--pre-main-font);
    text-transform: lowercase;
    color: var(--color-pink);
    transform: translateX(-50%);
  }
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1110px; // Если контейнер 1180, то пишем 1210 из-за паддингов 15px по бокам
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn {
  overflow: hidden;
  border: 1px solid var(--color-surf);
  border-radius: 0.4rem;
  padding: 1.5rem 4.5rem;
  font: var(--middle-font);
  color: var(--color-surf);
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &--primary {
    &:hover {
      box-shadow: 0 0 5px var(--color-surf), 0 0 10px var(--color-surf-hover);
      color: var(--color-white);
      background: linear-gradient(
        117deg,
        rgba(8, 253, 216, 1) 0%,
        rgb(0, 199, 169) 100%
      );
    }
  }
}

.burger {
  --burger-width: 3rem;
  --burger-height: 2rem;
  --burger-line-height: 0.2rem;

  @include burger;

  display: none;

  @include small-tablet {
    position: absolute;
    right: var(--second-offset);
    top: var(--second-offset);
    z-index: 999;
    display: block;
  }
}
