:root {
  // Colors
  --color-black: #000;
  --color-white: #fff;
  --color-surf: #04c2c9;
  --color-mirage: #1b242f;
  --color-pink: #e31b6d;

  // Margins

  --small-offset: 10px;
  --small-md-offset: 15px;
  --second-offset: 20px;
  --main-offset: 30px;
  --big-offset: 40px;

  // Fonts

  --font-family: "Raleway", sans-serif;
  --small-font: 400 14px / 140% var(--font-family);
  --middle-font: 400 16px / 140% var(--font-family);
  --middle-high: 700 30px / 140% var(--font-family);

  // Transitions
  --ease-color: color 0.3s ease-in-out;
}
