:root {
  // Colors
  --color-black: #000;
  --color-white: #fff;
  --color-surf: #08fdd8;
  --color-surf-hover: #019e86;
  --color-main: #515152;
  --color-pink: #e31b6d;
  --color-bg: #f3f6f6;

  // Margins

  --small-offset: 10px;
  --small-md-offset: 15px;
  --second-offset: 20px;
  --main-offset: 30px;
  --big-offset: 40px;
  --high-offset: 60px;

  // Fonts

  --font-family: "Raleway", sans-serif;
  --middle-font: 400 16px / 140% var(--font-family);
  --pre-main-font: 500 20px / 140% var(--font-family);
  --main-font: 500 24px / 140% var(--font-family);
  --middle--pre-high: 700 30px / 140% var(--font-family);
  --middle-high: 700 40px / 140% var(--font-family);

  // Transitions
  --ease-color: color 0.3s ease-in-out;
}
