:root {
  // Colors
  --color-black: #000;
  --color-white: #fff;
  --color-surf: #08fdd8;
  --color-surf-hover: #019e86;
  --color-grey: #515152;
  --color-main: #17181c;
  --color-pink: #e31b6d;
  --color-bg: #f3f6f6;

  // Margins

  --small-offset: 1rem;
  --small-md-offset: 1.5rem;
  --second-offset: 2rem;
  --main-offset: 3rem;
  --big-offset: 4rem;
  --high-offset: 6rem;

  // Fonts

  --font-family: "Raleway", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --small-font: 400 1.4rem / 140% var(--font-family);
  --middle-font: 400 1.6rem / 140% var(--font-family);
  --pre-main-font: 500 2rem / 140% var(--font-family);
  --roboto-main: 500 2rem / 140% var(--font-roboto);
  --main-font: 500 2.4rem / 140% var(--font-family);
  --middle--pre-high: 700 3rem / 140% var(--font-family);
  --middle-high: 700 4rem / 140% var(--font-family);

  // Transitions
  --ease-color: color 0.3s ease-in-out;
}
